<div class="container-md mt-3 px-4">
  <% if (locals.user) { %>
    <div class="row align-items-center justify-content-end">
      <div class="col-auto">
        <button
          id="buttonModalUploadVoucher"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#modalUploadVoucher"
          <%- uploadButtonEnabled?"":"disabled"%>
        >
          Upload Voucher
        </button>
      </div>
    </div>
    <%- include('./partials/_modalUploadVoucher', {indexSelected, finalUserDues});%> 
  <% } %>
  <div class="mx-auto col col-lg-9">
    <% if (locals.userDues) { %> 
      <%- include('./partials/_tableUserDues',{userDues}); %> 
    <% } %>
  </div>
</div>
