<form id="registerUserForm" class="container row g-3 mx-auto mt-1" style="max-width: 900px">
  <div class="col-md-6">
    <label for="firstName" class="form-label">Name: </label>
    <input type="text" name="firstName" class="form-control" id="firstName" />
    <div input-id="firstName" class="invalid-feedback"></div>
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name:</label>
    <input type="text" name="lastName" class="form-control" id="lastName" />
    <div input-id="lastName" class="invalid-feedback"></div>
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email:</label>
    <input
      placeholder="example@mail.com"
      type="text"
      name="email"
      class="form-control"
      id="email"
    />
    <div input-id="email" class="invalid-feedback"></div>
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password:</label>
    <input type="password" name="password" class="form-control" id="password" />
    <div input-id="password" class="invalid-feedback"></div>
  </div>
  <div class="col-md-6">
    <label for="dni" class="form-label">DNI:</label>
    <input type="text" name="dni" class="form-control" id="dni" />
    <div input-id="dni" class="invalid-feedback"></div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>


